[submodule "Advanced-JavaScript"]
	path = Advanced-JavaScript
	url = https://github.com/mixelpixel/Advanced-JavaScript.git
[submodule "CS1-Code-Challenges"]
	path = CS1-Code-Challenges
	url = https://github.com/mixelpixel/CS1-Code-Challenges.git
[submodule "LS-Data-Structures"]
	path = LS-Data-Structures
	url = https://github.com/mixelpixel/LS-Data-Structures.git
[submodule "LS-Data-Structures-II"]
	path = LS-Data-Structures-II
	url = https://github.com/mixelpixel/LS-Data-Structures-II.git
[submodule "LS-DOM"]
	path = LS-DOM
	url = https://github.com/mixelpixel/LS-DOM.git
[submodule "LS-React-1"]
	path = LS-React-1
	url = https://github.com/mixelpixel/LS-React-1.git
[submodule "LS-React-II"]
	path = LS-React-II
	url = https://github.com/mixelpixel/LS-React-II.git
[submodule "LS-Redux"]
	path = LS-Redux
	url = https://www.github.com/mixelpixel/LS-Redux.git
[submodule "HTTP-Mini-Sprint"]
	path = HTTP-Mini-Sprint
	url = https://github.com/mixelpixel/HTTP-Mini-Sprint.git
[submodule "LS-AJAX"]
	path = LS-AJAX
	url = https://github.com/mixelpixel/LS-AJAX.git
[submodule "LS-React-Router-Mini"]
	path = LS-React-Router-Mini
	url = https://github.com/mixelpixel/LS-React-Router-Mini.git
[submodule "LS-Routing-Movies"]
	path = LS-Routing-Movies
	url = https://github.com/mixelpixel/LS-Routing-Movies.git
[submodule "LS-Testing-Mini"]
	path = LS-Testing-Mini
	url = https://github.com/mixelpixel/LS-Testing-Mini.git
[submodule "LS-Testing"]
	path = LS-Testing
	url = https://github.com/mixelpixel/LS-Testing.git
[submodule "node-express-mini"]
	path = node-express-mini
	url = https://github.com/mixelpixel/node-express-mini.git
[submodule "node-express-lab"]
	path = node-express-lab
	url = https://github.com/mixelpixel/node-express-lab.git
[submodule "node-express-lab-finished"]
	path = node-express-lab-finished
	url = https://github.com/mixelpixel/node-express-lab-finished.git
[submodule "node-express-mini-finished"]
	path = node-express-mini-finished
	url = https://github.com/mixelpixel/node-express-mini-finished.git
[submodule "mongo-I-mini"]
	path = mongo-I-mini
	url = https://github.com/mixelpixel/mongo-I-mini.git
[submodule "LS-Mongo-I"]
	path = LS-Mongo-I
	url = https://github.com/mixelpixel/LS-Mongo-I.git
[submodule "LS-Mongo-II-Mini"]
	path = LS-Mongo-II-Mini
	url = https://github.com/mixelpixel/LS-Mongo-II-Mini.git
[submodule "LS-Mongo-II"]
	path = LS-Mongo-II
	url = https://github.com/mixelpixel/LS-Mongo-II.git
[submodule "LS-Mongo-I-finished"]
	path = LS-Mongo-I-finished
	url = https://github.com/mixelpixel/LS-Mongo-I-finished.git
[submodule "LambdaCSA-Syllabus"]
	path = LambdaCSA-Syllabus
	url = https://github.com/mixelpixel/LambdaCSA-Syllabus.git
[submodule "Mongo-III-Mini"]
	path = Mongo-III-Mini
	url = https://github.com/mixelpixel/Mongo-III-Mini.git
[submodule "LS-Mongo-II-finished"]
	path = LS-Mongo-II-finished
	url = https://github.com/mixelpixel/LS-Mongo-II-finished.git
[submodule "Mongo-III-Mini-Solution"]
	path = Mongo-III-Mini-Solution
	url = https://github.com/mixelpixel/Mongo-III-Mini-Solution
[submodule "Mongo-III"]
	path = Mongo-III
	url = https://github.com/mixelpixel/Mongo-III.git
[submodule "Auth-Mini"]
	path = Auth-Mini
	url = https://github.com/mixelpixel/Auth-Mini.git
[submodule "Auth"]
	path = Auth
	url = https://github.com/mixelpixel/Auth.git
[submodule "Client-Auth-Mini"]
	path = Client-Auth-Mini
	url = https://github.com/mixelpixel/Client-Auth-Mini.git
[submodule "Client-Auth"]
	path = Client-Auth
	url = https://github.com/mixelpixel/Client-Auth.git
[submodule "LS-Auth-JWT"]
	path = LS-Auth-JWT
	url = https://github.com/mixelpixel/LS-Auth-JWT.git
[submodule "Server-Testing"]
	path = Server-Testing
	url = https://github.com/mixelpixel/Server-Testing.git
[submodule "Mobile-I"]
	path = Mobile-I
	url = https://github.com/mixelpixel/Mobile-I.git
[submodule "Git-Foo"]
	path = Git-Foo
	url = https://github.com/mixelpixel/Git-Foo.git
[submodule "Mobile-II"]
	path = Mobile-II
	url = https://github.com/mixelpixel/Mobile-II.git
[submodule "recursion-prompts"]
	path = recursion-prompts
	url = https://github.com/mixelpixel/recursion-prompts.git
[submodule "LS-Mobile-III-Example"]
	path = LS-Mobile-III-Example
	url = https://github.com/mixelpixel/LS-Mobile-III-Example.git
[submodule "Mobile-Server"]
	path = Mobile-Server
	url = https://github.com/mixelpixel/Mobile-Server.git
