[submodule "Advanced-JavaScript"]
	path = Advanced-JavaScript
	url = https://github.com/mixelpixel/Advanced-JavaScript.git
[submodule "CS1-Code-Challenges"]
	path = CS1-Code-Challenges
	url = https://github.com/mixelpixel/CS1-Code-Challenges.git
[submodule "LS-Data-Structures"]
	path = LS-Data-Structures
	url = https://github.com/mixelpixel/LS-Data-Structures.git
[submodule "LS-Data-Structures-II"]
	path = LS-Data-Structures-II
	url = https://github.com/mixelpixel/LS-Data-Structures-II.git
[submodule "LS-DOM"]
	path = LS-DOM
	url = https://github.com/mixelpixel/LS-DOM.git
[submodule "LS-React-1"]
	path = LS-React-1
	url = https://github.com/mixelpixel/LS-React-1.git
[submodule "LS-React-II"]
	path = LS-React-II
	url = https://github.com/mixelpixel/LS-React-II.git
