.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.App-header {
  background-color: #48ACB8;
  height: 150px;
  padding: 20px;
  color: #282424;
}

.App-intro {
  font-size: large;
}

.Inline-button {
  position: fixed;
  right: 15px;
  top: 5px;
}
